<%- include("components/_header") -%>

<html
  class="
    flex flex-col
    items-center
    justify-center
    min-h-screen
    py-2
    bg-indigo-100
  "
>
  <h1
    class="
      text-center
      bg-clip-text
      text-transparent text-6xl
      font-bold
      bg-gradient-to-r
      from-pink-300
      via-purple-300
      to-indigo-400
      animate-pulse
    "
  >
    Template for use in projects
  </h1>
</html>
